


  .background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.4;
  }


  .design-page-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
  }


  /* --------------------------------< COLOR >---------------------------------------- */

.color-container{
    width: min(100%);
    margin-top: 5rem;
    position: relative;
    z-index: 1;
    
}


.design__title{
    letter-spacing: 0.2rem;
    font-size: var(--xlg);
}


.colors-cont{
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    margin-top: 3rem;
    
}

.color-gradient__cont{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.color__sub{
    margin-bottom: 1.5rem;
    color: var(--off-white);
    font-size: var(--md);
    letter-spacing: 0.3rem;
    grid-column: 1 / -1; 
}


.color__title{
    grid-column: 1 / -1;  
    margin: 0;
    color: var(--almond);
    font-size: var(--sm);
    
}

.color-sub_info{
    grid-column: 1 / -1; 
    text-align: center; 
    margin-bottom: 5rem;
    width: min(45em, 100%);
    color: var(--eggshell);
    font-style: italic;
    font-size: var(--sm);
}

.color-box {
   width: 15rem;
   height: 3rem;
   margin-bottom: 1rem;
}

.color-box-gradient{
    width: 22em;
    height: 3rem;
    margin-bottom: 1rem;
    
}

.color-box__info{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}



.color-box__tag{
    font-size: var(--xsm);
    color: var(--off-white);
    margin-bottom: 0.2rem;
}

.color-box__hex{
    /* padding-right: 5rem; */
}

.color-box__hex, .color-box__rgb {
    font-size: var(--xsm);
    color: var(--almond);
    margin: 0;
}

.color-box__cont{
   display: flex;
   flex-direction: column;
   justify-content: flex-start; 
   align-items: flex-start;
   margin-bottom: 3rem; 
}


.primary{
  box-shadow: var(--black-box-shadow);
}
 

.secondary{
 box-shadow: var(--black-box-shadow);
 

}

.shade{
    box-shadow: var(--white-box-shadow);
}

.gradient{
  
}

/* Primary colors */
.primary-color { background-color: var(--primary-color); }
.primary-color-light-2 { background-color: var(--primary-color-light-2); }
.primary-color-dark-1 { background-color: var(--primary-color-dark-1); }
.primary-color-dark-2 { background-color: var(--primary-color-dark-2); }
.darkest-color { background-color: var(--darkest-color); }

/* Secondary colors */
.secondary-color { background-color: var(--secondary-color); }
.secondary-light { background-color: var(--secondary-light); }
.secondary-dark { background-color: var(--secondary-dark); }
.secondary-accent-1 { background-color: var(--secondary-accent-1); }
.secondary-accent-2 { background-color: var(--secondary-accent-2); }

/* Shades */
.extra-grey { background-color: var(--extra-grey); }
.shade-one { background-color: var(--shade-one); }
.shade-two { background-color: var(--shade-two); }
.shade-three { background-color: var(--shade-three); }
.shade-four { background-color: var(--shade-four); }
.article-bkgd-color { background-color: var(--article-bkgd-color); }

/* Gradients */
.primary-gradient {
    background: linear-gradient(to right, rgb(92, 107, 192), rgb(72, 86, 155), rgb(48, 63, 159));
    box-shadow: var(--black-box-shadow);
}

.secondary-gradient {
    background: linear-gradient(to right, rgb(121, 134, 203), rgb(159, 168, 218), rgb(209, 213, 240));
    box-shadow: var(--black-box-shadow);
}

.shade-gradient {
    background: linear-gradient(to right, rgb(51, 51, 51), rgb(16, 16, 16), rgb(1, 10, 19));
    box-shadow: var(--white-box-shadow);
}

.color-box__tag {
    font-size: 0.9em;
    text-align: left;
}


@media screen and (min-width: 45em) {
    .colors-cont{
        grid-template-columns: 1fr 1fr ;
    }

    .color-gradient__cont{
     
    }



    .color-box {
        width: 20rem;
        height: 5rem;
    }

    .color-box-gradient{
        width: 30rem;
        height: 5rem;
    }
    

}



@media screen and (min-width: 100em) {
    .colors-cont{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .color-box {

    }

    .color-gradient__cont{
        grid-template-columns: 1fr 1fr ;
    }
    

}



 /* --------------------------------< TYPOGRAPHY >---------------------------------------- */


 .typography-cont {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
   
  }
  

  
  .typography-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
  }
  
  .typography-grid-item {
    border: 0.125rem solid var(--primary-color-light-2) ;
    box-shadow: var(--black-box-shadow);
    border-radius: 0.2rem;
    padding:  0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .typography-letter {
    font-size: 1rem;
  }

  .typography-cont {

}

.typography-flex {
   
}

.typography-large-letter {
    font-size: 10rem;
    color: var(--secondary-light);
    filter: drop-shadow(var(--black-box-shadow));
    margin: 0;

}

.typography-title {
   
}

.typography-text {
    
}

.hierachy-cont {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hierarchy-title {
    margin-bottom: 1rem;
}

.hierarchy-item {
    margin-bottom: 0.5rem;
    color: var(--secondary-light);
}

.hierarchy-item.large-title {
    font-size: var(--lg);
   
}

.hierarchy-item.sub-title {
    font-size: var(--xlg);
}

.hierarchy-item.main-heading {
    font-size: var(--md);
}

.hierarchy-item.sub-heading {
    font-size: var(--sm);
}

.hierarchy-item.small-text {
    font-size: var(--xsm);
}

.hierarchy-item.mobile-paragraph {
    font-size: var(--mobile-para);
}

.measurement{
    color: var(--off-white);
}

@media screen and (min-width: 45em) {

    .typography-grid {
        grid-template-columns: repeat(13, 1fr);
    }

}


@media screen and (min-width: 100em) {

    .typography-grid {
        
    }
}


 /* --------------------------------< COMPONENTS >---------------------------------------- */



.components-cont{
   margin-top: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.component{
    margin-bottom: 5rem;
}

.components__display-cards{
    display: grid;
    grid-template-columns: 1fr ;
}

.component-title {
    
}


.slide{
    position: relative;
    z-index: 1;
   
   
    place-items: center;

    padding-top: 2rem;
    padding: 2rem;

    justify-content: center; /* Center horizontally */
    align-items: center;
}

.section-component{
    height: 50vh;
    margin-bottom: 1rem;
    width: 25rem;
 }  


.components__section{
    
}



@media screen and (min-width: 45em) {

    .section-component{
       height: 100vh;
       width: 60rem;
       margin-bottom: 0rem;
    }  
    

    
    .components__display-cards{
        grid-template-columns: 1fr 1fr;
    }

}


@media screen and (min-width: 100em) {

    .section-component{
        width: 110rem;
    }

    .components__display-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}



 /* --------------------------------< API >---------------------------------------- */

 .api-cont{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 }

 .api-link__list{
    padding: 0; 
    margin-bottom: 2rem;
 }

 .api-link-list__items{
    list-style: none;
    text-decoration: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  
 }

 .api-link-list__item{

 }

 .api-link-list__items a:hover,
 .api-link-list__items a:focus {
     color: var(--secondary-color); /* Change link color on hover/focus */
 }

 .api__screenshots{
    display: grid;
    grid-template-columns: 1fr;
   
 }

 .wireframe__screenshots{
    display: grid;
    grid-template-columns: 1fr;
 }

 .api-screenshot__img{
    width: 18rem;
    aspect-ratio: 16/9;
    margin: 1rem;
    box-shadow: var(--white-box-shadow);
 }

 .wireframe-screenshot__img{
    width: 18rem;
   
    margin: 1rem;
    box-shadow: var(--white-box-shadow);
 }


 .api__logo{
    width: 9rem;
    margin-bottom: 3rem;
 }

 .api__logo2{
    width: 12rem;
    margin-bottom: 3rem;
 }



 @media screen and (min-width: 45em) {

    .api__screenshots{
        grid-template-columns: 1fr 1fr;
        
    }

    .wireframe__screenshots{

        grid-template-columns: 1fr 1fr;
     }
   
    .api-screenshot__img{
        width: 30rem;
        
    }

}


@media screen and (min-width: 100em) {

    .wireframe__screenshots{
        grid-template-columns: 1fr 1fr 1fr;
     }

    }

