
form{
    padding-top: 5rem;;
}


.form-unit:first-child{
    padding-top: 3rem;
}

.form-unit:last-child{
    
    padding-bottom: 3rem;
 
}

.form-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.form-unit label{
    padding-top: 1rem;
    padding-bottom: 1rem;
}




