/* <----- NAVBAR -------------------------------> */


/* mobile first*/

.navbar {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  right: 0;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(3rem);
  padding: 1rem 3rem;
  box-shadow: 0 0 .5rem var(--primary-color) ;
  overflow: hidden;
}

  
  
  .nav-list{
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

   /* nav li hover animation----------------------------- */

  .nav-list li {
    position: relative;
  }
  

  
    /* nav li hover animation ----------------------------- */
  

  .logo-head{
    margin: 1.5rem;
  }
  
  
  /* things that dont have to be changed with query */
  
  .nav-list li{
    list-style:  none;
    color: white;
    padding: 0 1rem;
    transition: background-color 0.3s; 
   
  }
  
  .nav-list li .link {
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    cursor: pointer; 
   
  }
  
  .nav-list li:hover,
  .nav-list li:focus,
  .nav-logo:hover,
  .nav-logo:focus{
    transform: scale(1.1);
    transition: transform 0.3s;
     
  }
  
  
  .logo-head-div{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0rem;
  }
  
  .link:hover,
  .link:focus{
    color: white;
  }
  
  
  
  .nav-logo{
     width: 5em;
     filter: drop-shadow(var());
     padding: 0;
     margin: 0;
  }
  
  /* Web Media Queries */   


  @media only screen and (min-width: 45em){
    .navbar{
        
        display: flex;
        flex-direction: row;
     
       
    }
    
    .navbar .link{
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      
      align-items: center;  

    }

    .searchBar {
      display: flex;
      align-items: center;
    }

    .searchInput {
      border: 0.1rem solid white;
      background-color: transparent;
      color: white;
      font-size: 1rem;
      padding: 0.5rem;
      height: 1.8rem;
    }

    .searchInput::placeholder {
      color: white;
      opacity: 0.5;
    }

    .search-icon{
      width: 2rem;

      color: white;
      margin-right: 0.5rem;
    }
    
    .link{
      text-decoration: none;
      color: white; 
    }
    

    
    .nav-list {
        display: flex;
        flex-direction: row;
       
        margin: 0 ;  
    }

    .nav-list li::after {
        top: 75%;
        left: 26%;
        width: 50%;
      }
    
  }