

/* Mobile first / Base Case */

body{
  overflow-x: hidden;
}

.background-video,
.section__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.7;
}

.container--text {
  width: min(45em, 100%);
}

section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.section__div {
  position: relative;
  margin-bottom: 3rem;
  width: 22rem;
  box-shadow: var(--black-box-shadow);
  
}

.section__div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 1));
  z-index: 1;
}



section .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__video,
.section__img {
  position: relative;
  z-index: 0;
}

.section__video {
  width: 100%;
  height: 55rem;
  aspect-ratio: 21/9;
  object-fit: cover;
  border: 0.125rem solid var(--secondary-color);
}

.section__img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1rem;
}


.section-title__logo {
  width: 8rem;
  padding-bottom: 1rem;
}

.section-title-logo__cont{
  margin-bottom: 3rem;
}

.section-div__title {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* --------- mobile even odd layout ----------- */

/* .odd .section-title-logo__cont {
  order: 1;
}

.even .section-title-logo__cont {
  order: 2;
} */

.odd .section-title-info__cont {
  order:2;
}

.even .section-title-info__cont {
  order: 1;
}

.section-title-info__cont {
  align-items: center;
}

.section-title-info__cont.odd {
  display: flex;
  flex-direction: column;
}

.section-title-info__cont.even {
  display: flex;
  flex-direction: column;
}



.section-info__cont {
  position: absolute;
  z-index: 2;
  top: 8%;
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  padding-right: 7rem;
 
}


.section-info__cont.even {
  right: 0%;
  align-items: center;
  padding: 0;
}

.section-info__cont.odd {
  left: 0%;
  align-items: center;
  padding: 0;
}

.section-info-screenshot__description.even{
  margin-bottom: 0;
}

.section-info-screenshot__description.odd{
  margin-bottom: 0;
}


.section__title {
  font-size: var(--sm);
  text-shadow: var(--black-text-shadow);
  color: white;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 3px white;
  padding-bottom: 1.5rem;
}

.section__rating,
.section__updated,
.section__released
 {
  font-size: var(--sm);
  text-shadow: var(--black-text-shadow);
  margin: 0.5rem;
}

.section__metacritic{
  font-size: var(--sm);
  text-shadow: var(--black-text-shadow);
  margin-bottom: 2.5rem;
}

.section-info__value {
  color: blanchedalmond;
}

.section-totop__btn {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__btn,
.section__href {
  background: transparent;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 3rem;
 
  cursor: pointer;
  font-size: var(--xsm);
  text-shadow: var(--black-text-shadow);
  box-shadow: var(--black-box-shadow);
  transition: transform 0.07s ease-in-out;
  margin-bottom: 1rem;
}

.section__btn {
  color: blanchedalmond;
  border: 0.125rem solid blanchedalmond;
}

.section__href {
  color: var(--secondary-light);
  text-decoration: none;
  border: 0.125rem solid white;
  
}



.section-info-screenshot__cont {
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
 
 
}

.section-info-screenshot__description {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-info-screenshot__title {
  font-size: var(--sm);
  color: blanchedalmond;
  visibility: hidden;
}

.section-info-screenshot-description__subText {
  font-size: var(--xsm);
  width: max(25em, 30%);
}

.section-info-screenshot-description__title {
  font-size: var(--sm);
  width: max(25em, 30%);
}

.section-info-screenshot-description__desc {
  font-size: var(--xsm);
  width: max(25em, 30%);
  margin-bottom: 0;
 
}


.section-info-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


.section-info-screenshot__imgs {
  display: none;
}

.section-info-screenshot__img {
  display: none;
}


.section-info-screenshot__img {
  transition: transform 0.3s ease-in-out;
  margin-top: 1rem;
}

.section-info-screenshot__img:hover {
  cursor: pointer;
}

.section-info-screenshot__description {
  margin-top: 1.5rem;
  padding: 1rem 3rem;
}

.section-info-screenshot-description__title {
  font-size: var(--xsm);
  color: blanchedalmond;
}

.section-info-platform-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  

    margin-top: -50rem;
    gap: 0.2rem;
}

.section-info-platform-cont__logos{
  width: 1rem;

}




.section-result-platform-cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.section-store__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;


  font-size: var(--sm);
  


  /* width: 6rem;  */
  padding: 0.3rem 0.5rem; 
  margin: 0.5rem; 
  text-decoration: none;
  transition: transform 0.07s ease-in-out;
}


.section-store__btn .text {
  display: none;
}



.section-store__btn img {
  margin-left: 0.5rem; 
  margin-right: 0.5rem; 
  width: 1rem;
}





/* ----------------------- Desktop Media Queries ------------------------- */

@media screen and (min-width: 45em) {

  body{
    overflow-x: visible;
  }

  section .container {
    width: min(100%);
  }

  .section__div {
    width: 60rem;
  }

  .section-info__cont {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .section-info__cont.even {
    right: 0%;
    align-items: flex-end;
  }


  .section__rating,
.section__updated,
.section__released,
.section__metacritic {
 
  margin: 0.7rem;
}
  
  .section-info__cont.odd {
    left: 0%;
    align-items: flex-start;
  }

  .section-div__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-title-info__cont {
    display: flex;
    flex-direction: column;
  }

  .section-title-info__cont.even {
    align-items: flex-end;
  }
  
  .section-title-info__cont.odd {
    align-items: flex-start;
  }

  .odd .section-title-logo__cont {
    order: 2;
  }
  
  .even .section-title-logo__cont {
    order: 1;
  }
  
  .odd .section-title-info__cont {
    order: 1;
  }
  
  .even .section-title-info__cont {
    order: 2;
  }

  .section-title-logo__cont{
    display: flex;
    align-self: flex-start;
   
      margin-bottom: 0rem;
   
  }

  .section-result-platform-cont{
    margin-top: 2rem ;
  }

  .section-title__logo {
    width: 12rem;
    filter: drop-shadow(var(--white-box-shadow));
    padding-bottom: 3rem;
  }

  .section-info-screenshot__cont {
    position: relative;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 5;
  }


  .section-info-screenshot__description.even{
    margin-bottom: 1.5rem;
 }

.section-info-screenshot__imgs {
  display: flex;
}

.section-info-screenshot__img {
  display: flex;
}

  .section-info-screenshot__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }


.section-info-screenshot__description.odd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 0;
  margin-bottom: 1rem;
}

.section-info-screenshot__description.even {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 0;
  margin-bottom: 1rem;
}

  .section-info-screenshot__img {
    width: 8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 0.125rem solid var(--secondary-color);
    box-shadow: var(--black-box-shadow);
  }

  .section-info-screenshot__imgs {
    visibility: visible;
  }
  
  .section-info-screenshot__img {
    visibility: visible;
  }

  .section-info-screenshot__title{
    font-size: var(--sm);
    visibility: visible;
  }


  .section-info-screenshot__cont {
    padding-left: 3rem;
    padding-right: 3rem;
  }



  .section-info-screenshot-description__title{
    font-size: var(--md);
  }

  .section-info-screenshot-description__subText {
    font-size: var(--sm);
  }
  
  .section-info-screenshot-description__desc {
    font-size: var(--xsm);
    width: 100%;
    margin-bottom: 1rem;
  }

  .section-info-screenshot__img:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .section__btn:hover,
  .section__btn:focus,
  .section__href:hover,
  .section__href:focus {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: var(--white-box-shadow);
    color: white;
  }

  .section__btn,
  .section__href {
    font-size: var(--md);
    margin-bottom: 0.6rem;
  }


  .section__title {
    font-size: var(--xlg);
  }

  .section__rating,
  .section__updated,
  .section__released,
  .section__metacritic {
    font-size: var(--sm);
  }


  .section-info-platform-cont{
    margin-top: 4rem;

  }

  .section-info-platform-cont__logos{
    width: 1.5rem;
  
    
  }


  .section-store__btn .text {
    display: block; 
  }

  .section-store__btn{
    background-color: transparent;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.7);
    border: 0.125rem solid orange;
  
    width: 8rem; 
    padding: 0.5rem 1rem; 
    margin: 1rem; 
    position: relative;
  }
  
  .section-store__btn:hover,
  .section-store__btn:focus {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: var(--white-box-shadow);
    color: white;
  }
  
  .section-store__btn img {
    margin-left: 0.5rem; 
    width: 1rem;
  }
  
  
}

@media screen and (min-width: 100em) {

  
  body{
    overflow-x: visible;
  }

  section .container {
    width: min(100%);
  }

  .section__div {
    width: 110rem;
  }

  .section-title__logo {
    width: 15rem;
  }

  .section-info-screenshot__cont {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section-info-screenshot__img {
  }

  .section-info-screenshot-description__desc {
    font-size: var(--sm);
  }


  .section-info-screenshot__description.odd {
    margin-bottom: 2rem;
  }
  
  .section-info-screenshot__description.even {
    margin-bottom: 2rem;
  }

  .section__btn,
  .section__href {
    font-size: var(--md);
  }

  .section__title {
    font-size: var(--xlg);
  }

  .section__rating,
  .section__updated,
  .section__released,
  .section__metacritic {
    font-size: var(--sm);
  }

 
  
}


