/* <----- FOOTER -------------------------------> */

footer{
  position: relative;
    /* background: linear-gradient(to top, var(--shade-four), var(--shade-one) ) ; */
    color: white;
    /* border-bottom: 0.5rem solid var(--darkest-color); */
    margin-top: 5rem;
    z-index: 1;
  }


  .footer .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;    

  }

  .footer__logo{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: white;
    text-decoration: none;

  }

  .footer-ratings{
    display: flex;
  }

  .footer-ratings__img{
    width: 2rem;
    /* margin: 0;
    padding: 0; */
  }

  .footer-ratings{
     padding-top: 2rem;
  }

  .footer-ratings__details ul{
    margin: 0;
    padding-left: 1rem;
  }

  .footer-ratings__details ul li{
     list-style: none;
     text-align: left;
     font-size: var(--mobile-para);
  }




  .span__title{
      text-transform: uppercase;
  } 

  .footer__logo:hover,
  .footer__logo:focus{
    
    transform: scale(1.01);
    transition: transform 0.3s;
  }



  .footer__icon{
    width: 5em;
  }

  .footer__nav{
    border-top: none;
    display: flex;
  }

  .footer__title{
    font-size: 1.525rem;
    font-weight: bold;
    line-height: 1.3;
  }

  .footer__list{
    
    margin: 0;
    /* border-left: 0.125rem solid var(--secondary-color); */
    list-style-type: none;
    display: flex;
    
    gap: 0.75rem;

  }

  .footer__link{
    color: white;
    text-decoration: none;
    font-size: var(--mobile-para);
  }

  .footer__link:hover,
  .footer__link:focus{
    color: var(--secondary-color);
  }

  .footer-small-links{
    display: flex;
    flex-direction: column;
    
  }

  .footer__copyright{
    
    padding-top: 1rem;
    text-align: left;
  }

  .footer__copyright2{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
  }

  .small-media-logo {
      padding: 0.5rem;
      width: 3rem;
  }

  .small-media-logo:hover,
  .small-media-logo:focus{
    
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  /* alt bkgd for contact page */

  .alt-fade-bkgd {
      background: linear-gradient(to bottom, var(--shade-three), var(--shade-one) )
  }




  /* footer media queries */


  @media only screen and (min-width: 45em){

     .footer .container{
        flex-direction: row;
        justify-content: space-between;

     }

     .footer-ratings{
      margin-bottom: 1rem;
    }

     .footer-ratings__img{
       width: 3rem;
       
     }

     .footer-ratings__img2{
      margin-left: 1rem;
     }

     .footer__logo{
      flex: 2 0;
      align-self: flex-start;
     }

     .footer__nav {
      flex: 2 0;
     }

     .footer__icon{
      width: 8em;
    }

    .footer__link{
      font-size: var(--md);
    }



  }

  @media only screen and (min-width: 100em){
    
    /* .footer .container {
     min-width: 100rem;

   } */
  }
