

.search-result-container{
    display: flex;
    flex-direction: column;
    
    margin-top: 2rem;
    
}

.search-result{
  
}

.search-result-card{
 
  
}

.card-btn__close{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    transition:  0.4s;
   
    
}

.card-btn__close .material-icons{
    font-size: 1.5rem;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2)); 
}

.card-btn__close:hover,
.card-btn__close:focus{
   color: red;
   cursor: pointer;
   transform: scale(1.1);
  
   
}

.card-btn__like{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    transition:  0.4s;
  
    
}

.card-btn__like .material-icons{
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2)); 
}

.card-btn__like:hover,
.card-btn__like:focus{
   color: orange;
   cursor: pointer;
   transform: scale(1.1);
   
  
   
}


.search-results__screenshots{
  
}

.search-results__img{
  
}
