
/* 
.search-result-container{
    display: flex;
    flex-direction: column;
    
    margin-top: 2rem;
    
} */

.search-result-container{
  margin-top: 2rem;
}

.search-title{
   font-size: var(--xxlg);
   text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
   letter-spacing: 0.3rem;
   margin-bottom: 3rem;
}

.search-result__header{
  margin-top: 5rem ;
}

.search-result-card{
 position: fixed;
 background-size: cover;
 background-position: center;
 width: 100%;
 height: 100vh;
 z-index: -1;
 top: 0;
 filter: blur(3px);
  
}

.search-result-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) -30%, rgba(0, 0, 0, 1));
   
    z-index: 0;
  }

.card-btn__close{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    transition:  0.4s;
 
}

.card-btn__close .material-icons{
    font-size: 1.5rem;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2)); 
}

.card-btn__close:hover,
.card-btn__close:focus{
   color: red;
   cursor: pointer;
   transform: scale(1.1);
  
   
}

.card-btn__like{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    transition:  0.4s;
  
    
}

.card-btn__like .material-icons{
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2)); 
}

.card-btn__like:hover,
.card-btn__like:focus{
   color: orange;
   cursor: pointer;
   transform: scale(1.1);
   
  
   
}

.search-result__rating{
   color: var(--almond);
}

.search-result__info{
    color: var(--almond);
}

.search-result-desc__title{
  color: var(--almond);
  font-size: var(--sm);
  margin: 0;
}

.search-result-desc__header{
    color: var(--off-white);
    font-size: var(--md);
    letter-spacing: 0.3rem;

}  

.search-result-desc__subheader{
    color: var(--off-white);
    font-size: var(--md);
    letter-spacing: 0.3rem;
    margin:2rem;
}

.search-result-desc__para{
    font-size: var(--sm);
    color: var(--eggshell);
    font-style: italic;
 }

.search-result__desc{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.search-result-des__btn {
  background: transparent;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 3rem;
 
  cursor: pointer;
  font-size: var(--xsm);
  text-shadow: var(--black-text-shadow);
  box-shadow: var(--black-box-shadow);
  transition: transform 0.07s ease-in-out;
  margin-bottom: 1rem;
}

/* .search-result-des__btn{
  color: blanchedalmond;
  border: 0.125rem solid blanchedalmond;
} */

.search-result-des__btn{
  color: var(--secondary-light);
  text-decoration: none;
  border: 0.125rem solid white;
  
}


.search-result__trailer{
  width: 418.219px;
  height: 236.984px;
  border: 0.125rem solid var(--secondary-light);
  box-shadow: var(--white-box-shadow);
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.search-result-platform-cont{
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.search-result-platform-cont__logos{
   width: 1.5rem;
   margin-left: 5rem;
   margin-right: 5rem;

   display: flex;
   justify-content: center;
   align-items: center;
  
}

.buy-now-btns-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.store__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  border: 0.125rem solid orange;
  width: 8rem; 
  padding: 0.5rem 1rem; 
  margin: 1rem; 
  text-decoration: none;
  transition: transform 0.07s ease-in-out;
}

.store__btn:hover,
.store__btn:focus {
  transform: scale(1.07);
  cursor: pointer;
  box-shadow: var(--white-box-shadow);
  color: white;
}

.store__btn img {
  margin-left: 0.5rem; 
  width: 1rem;
}

@media screen and (min-width: 45em) {
    .search-result-des__btn{
        font-size: var(--xsm);
    }
   
    .search-result-des__btn:hover,
    .search-result-des__btn:focus {
      transform: scale(1.07);
      cursor: pointer;
      box-shadow: var(--white-box-shadow);
      color: white;
     
    }

    .search-result__trailer{
      width: 1024px; 
      height: 576px;
   }
}


@media screen and (min-width: 100em) {

  .search-result__trailer{
    
 }


}
