

.search-result-container{
    display: flex;
    flex-direction: column;
    
    margin-top: 2rem;
    
}

.search-result{
  
}

.search-result-card{
 
  
}


.search-result__btn{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: white;
    transition:  0.4s;
   
    
}

.card__btn:hover,
.card__btn:focus{
   color: orange;
   cursor: pointer;
   transform: scale(1.1);
   filter: drop-shadow(0 0 0.8rem #0002);
   
}

.search-results__screenshots{
  
}

.search-results__img{
  
}
